* {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
}


.wrapper {
  display: grid;
  grid-template-columns: auto 75px 275px 175px 175px 275px 75px auto;
  grid-template-rows: 115px 425px 450px 50px auto;
  grid-column-gap: 12px;
}



.nav-logo {
  grid-column: 2/ span 6;
  grid-row: 1;

  padding-left: 30px;
  padding-top: 10px;
  /* achtergrond */
  background-image: url(img/header_bg.png);
}

.nav-links {
  margin-top: 50px;
  margin-left: 70x;
  grid-row: 1;
  grid-column: 4/7;
}

.nav-links ul li {
  display: inline-block;
  margin-left: 30px;
}

.nav-links ul li a{
  text-decoration: none;
  color: #395167;
}

.banner-img {
  grid-row: 2;
  grid-column: 2/ span 6;

  padding-left: 30px;
  padding-top: 20px;
  /* achtergrond */
  background-image: url(img/banner_bg.png);
}

.white-txt {
  color: white;
}

.banner-txt {
  font-size: 14px;
  line-height: 20px;
  grid-row: 2;
  grid-column: 6;
}

.banner-txt h1 {
  margin-top: 30px;
  font-size: 26px;
    line-height: 30px;
}

.banner-txt>p {
  margin-top: 10px;
}

.pt-20 {
  padding-top: 20px;
}

.card-header-style{
  font-size: 20px;
  line-height: 22px;
}
.card-p-style{
  margin-top: 20px;
  margin-bottom: 20px;
}

.card-1 {
  grid-row: 3;
  grid-column: 3;
  font-size: 14px;
  line-height: 20px;
 
  
}

.card-2 {
  padding-left: 40px;
  grid-row: 3;
  grid-column: 4/ span 4;
  width: 300px;
  font-size: 14px;
  line-height: 20px;
}

.card-3 {
  grid-row: 3;
  grid-column: 6;
  font-size: 14px;
  line-height: 20px;
}

footer {
  grid-row: 4;
  grid-column: 2/ span 6;
  background-image: url(img/footer_bg.png);
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
}



footer p {
  text-align: center;
  padding: 20px;
  color: white;
}